@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root{
  --bg-color: #fef6e4;
  --button-color: #f3d2c1;
  --text-color: #001858;
  --btn-text: #172c66;
  --title-color: #001858;
  --task-bg: #f582ae;
  --task-font: 'Jost', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--title-color);
  cursor: pointer;
}

body{
  background-color: var(--bg-color);
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
  padding: 0px 20px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: var(--title-color);
}

header a{
  font-weight: bold;
}

header p:last-child{
  font-size: 50px;
  color: var(--text-color);
  cursor: pointer;
}

.posts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.post-card{
  background-color: var(--button-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--text-color);
  height: 500px;
  max-width: 900px;
  font-family: var(--task-font);
}

.post-title{
  margin-bottom: 30px;
  font-size: 22px;
}

.post-body{
  text-align: justify;
  font-size: 17px;  
}

.user-img{
  background-image: url('../media/user.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
}

.user-comment{
  display: inline;
  margin-bottom: 0px;
  margin-right: 5px;
}

.post-title, .post-body{
  text-transform: capitalize;
}

.post-card section:nth-child(1){
  width: 60%;
  flex-basis: 450px;
}

.post-card .post-comments{
  width: 40%;
  height: 99%;
  padding: 10px;
  flex-basis: 370px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
  width: 5px;
}

.scroll::-webkit-scrollbar-track{
  background-color: var(--button-color);
}

.scroll::-webkit-scrollbar-thumb{
  background-color: var(--btn-text);
  border-radius: 2px;
}

.scroll::-webkit-scrollbar-thumb:hover{
  background-color: #f582ae;
  transition: 0.5s linear;
}

.post-comment{
  background-color: var(--task-bg);
  border: 2px solid var(--title-color);
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 20px;
}