@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root{
  --bg-color: #fef6e4;
  --button-color: #f3d2c1;
  --text-color: #001858;
  --btn-text: #172c66;
  --title-color: #001858;
  --task-bg: #f582ae;
  --task-font: 'Jost', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--title-color);
  cursor: pointer;
}

body{
  background-color: var(--bg-color);
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
  padding: 0px 20px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: var(--title-color);
}

header a{
  font-weight: bold;
}

header p:last-child{
  font-size: 50px;
  color: var(--text-color);
  cursor: pointer;
}

.posts-container{
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.post-card{
  position: relative;
  background-color: var(--button-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--text-color);
  height: 500px;
  width: 100%;
  font-family: var(--task-font);
}

.post-title{
  margin-bottom: 30px;
  font-size: 22px;
}

.post-body{
  text-align: justify;
  font-size: 17px;  
}

.user-img{
  background-image: url('../media/user.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
}

.user-comment{
  display: inline;
  margin-bottom: 0px;
  margin-right: 5px;
}

.post-title, .post-body{
  text-transform: capitalize;
}

.post-card .post-data{
  width: 60%;
  flex-basis: 450px;
}

.post-card .post-comments{
  width: 40%;
  height: 99%;
  padding: 10px;
  flex-basis: 370px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
  width: 5px;
}

.scroll::-webkit-scrollbar-track{
  background-color: var(--button-color);
}

.scroll::-webkit-scrollbar-thumb{
  background-color: var(--btn-text);
  border-radius: 2px;
}

.scroll::-webkit-scrollbar-thumb:hover{
  background-color: #f582ae;
  transition: 0.5s linear;
}

.post-comment{
  background-color: var(--task-bg);
  border: 2px solid var(--title-color);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.post-comment p:nth-child(1){
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-align: left;
}

.post-comment p:nth-child(2){
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.post-comment p:nth-child(3){
  text-transform: capitalize;
  text-align: justify;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 30px auto;
}

input.post-title{
  height: 40px;
  padding: 5px;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid var(--btn-text);
  background-color: var(--bg-color);
  font-family: var(--task-font);
  text-transform: none;
}

input.post-title:hover{
  background-color: var(--button-color);
  padding-left: 30px;
  transition: 0.5s ease-in-out;
}

input.post-title:focus{
  background-color: var(--button-color);
  padding-left: 5px;
  transition: 0.5s ease-in-out;
}

button.create-post{
  width: 150px;
  height: 40px;
  align-self: flex-end;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--btn-text);
  font-weight: bold;
  border-color: var(--title-color);
}

button.create-post:active{
  background-color: var(--title-color);
  color: var(--button-color);
  transition: 0.1s linear;
}

textarea.post-body{
  border: 2px dashed var(--text-color);
  border-radius: 10px;
  padding: 10px;
  font-family: var(--task-font);
  resize: none;
  height: 250px;
  text-transform: none;
}

.delete-btn{
  position: absolute;
  right: 15px;
  display: none;
  cursor: pointer;
}

.delete-btn:hover{
  transform: scale(1.2) rotate(90deg);
  transition: 0.2s linear;
}

.delete-btn:not(:hover){
  transform: scale(1) rotate(-90deg);
  transition: 0.2s linear;
}

.side-tip{
  background-color: var(--btn-text);
  border: 2px var(--task-bg) groove;
  color: var(--bg-color);
  font-family: var(--task-font);
  border-radius: 10px;
  width: 300px;
  height: 40px;
  display: grid;
  place-content: center;
  position: absolute;
  left: -300px;
}

.show-up{
  transform: translateX(310px);
  transition: 1s linear;
}

.hide{
  transform: translateX(-310px);
  transition: 1s linear;
}

@media only screen and (max-width: 975px) {
  body{
    padding: 5px;
  }

  .posts-container{
    width: 100%;
  }

  .post-card{
    height: 600px;
  }

  .post-card .post-comments{
    height: 65%;
    max-height: 330px;
  }
}

@media only screen and (min-width: 710px) {
  body{
    padding: 10px;
  }

  .posts-container{
    width: 90%;
  }
}

@keyframes shake {
  25%{
    transform: translateX(1px);
    border: 2px dashed var(--task-bg);
  }

  50%{
    transform: translateY(1px);
  }

  75%{
    transform: translateX(-1px);
  }

  100%{
    transform: translateY(-1px);
  }
}

.tremble {
  animation: shake 200ms infinite;
}
