:root{
  --bg-color: #fef6e4;
  --button-color: #f3d2c1;
  --text-color: #001858;
  --btn-text: #172c66;
  --title-color: #001858;
  --task-bg: #f582ae;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--title-color);
  cursor: pointer;
}

body{
  background-color: var(--bg-color);
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
  padding: 0px 20px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: var(--title-color);
}

header a{
  font-weight: bold;
}

header p:last-child{
  font-size: 50px;
  color: var(--text-color);
  cursor: pointer;
}

.card{
  width: 100%;
  max-width: 500px;
  padding: 5px;
  margin:0px auto 20px auto;
  background-color: var(--button-color);
  color: var(--btn-text);
  border-radius: 10px;
}

.card-profile--head p:first-child{
  font-size: 50px;
}

.card-profile--head p:last-child{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card-profile .card-profile--data{
  border-spacing: 5px;
  margin: 0 auto;
}

.card-profile--data th,td{
  padding: 10px;
  border: 3px dashed var(--text-color);
}

.card-profile--data td{
  text-align: center;
}

.users-elements{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  max-width: 500px;
  min-height: 80px;
  margin: 10px auto;
  gap: 10px;
}

.users-elements a{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--button-color);
  font-weight: bold;
}

.users-elements a:hover{
  background-color: var(--btn-text);
  color: var(--button-color);
  font-weight: bold;
  transition: 0.2s linear;
}

.users-elements a p:first-child{
  font-size: 20px;
}

.users-elements a:hover p:first-child{
  font-size: 40px;
  transition: 0.3s ease-in;
}

.users-elements a p{
  display: inline;
}


.data-user{
  color: var(--task-bg);
  font-weight: bold;
}

.user-name{
  font-size: 30px;
}

/* Styles for the hearth in comments section */
p[data-status='true']{
  color: var(--task-bg);
}

p[data-status='false']{
  color: var(--btn-text);
}

.like-comment{
  cursor: pointer;
}

.my-last-comments{
  max-width: 500px;
  margin: 20px auto;
}

.comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 0px;
}

.comment-card{
  background-color: var(--button-color);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-card p:first-child{
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 10px;
}

.comment-card p:nth-child(2){
  text-align: justify;
  margin-bottom: 10px;
}

.comment-card:hover{
  transform: translateX(20px);
}

@media only screen and (min-width: 960px) {
  main{
    display: grid;
    grid-template-areas:
      "header header header"
      "profile profile menu"
      "comments comments comments"
    ;
    gap: 20px;
    width: 100%;
    height: 100%;
  }

  .card-profile{
    grid-area: profile;
  }

  .users-elements{
    grid-area: menu;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
  }

  .my-last-comments{
    grid-area: comments;
    max-width: none;
  }

  .comments{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 300px));
    grid-auto-rows: 250px;
  }

  .comment-card{
    width: 100%;
    height: 100%;
  }

  .comment-card:hover{
    transform: translateX(0px) scale(1.1);
  }
}