:root{
  --bg-color: #fef6e4;
  --button-color: #f3d2c1;
  --text-color: #001858;
  --btn-text: #172c66;
  --title-color: #001858;
  --task-bg: #f582ae;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--title-color);
  cursor: pointer;
}

body{
  background-color: var(--bg-color);
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
  padding: 0px 20px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: var(--title-color);
}

header a{
  font-weight: bold;
}

header p:last-child{
  font-size: 50px;
  color: var(--text-color);
}

.card{
  width: 100%;
  max-width: 500px;
  padding: 5px;
  margin:0px auto 20px auto;
  background-color: var(--button-color);
  color: var(--btn-text);
  border-radius: 10px;
}

.card-profile--head p:first-child{
  font-size: 50px;
}

.card-profile--head p:last-child{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card-profile .card-profile--data{
  border-spacing: 5px;
  margin: 0 auto;
}

.card-profile--data th,td{
  padding: 10px;
  border: 3px dashed var(--text-color);
}

.card-profile--data td{
  text-align: center;
}

.users-elements{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  max-width: 500px;
  min-height: 80px;
  margin: 10px auto;
  gap: 10px;
}

.users-elements a{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--button-color);
}

.users-elements a:hover{
  background-color: var(--btn-text);
  color: var(--button-color);
  font-weight: bold;
  transition: 0.2s linear;
}

.users-elements a p:first-child{
  font-size: 20px;
}

.users-elements a:hover p:first-child{
  font-size: 40px;
  transition: 0.3s ease-in;
}

.users-elements a p{
  display: inline;
}


.data-user{
  color: var(--task-bg);
  font-weight: bold;
}

.user-name{
  font-size: 30px;
}

/* Styles for the hearth in comments section */
p[data-status='true']{
  color: var(--task-bg);
}

p[data-status='false']{
  color: var(--btn-text);
}

.like-comment{
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  
}