h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: lightseagreen;
}

img{
  width: 100%;
  border: 3px dashed lightskyblue;
  margin: 0 auto;
  display: block;
  border-radius: 3%;
}

button{
  width: 120px;
  height: 40px;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
  border: 1px dashed lightseagreen;
  background-color: lightcyan;
  font-weight: bold;
  font-size: 30px;
  color: darkcyan;
  cursor: pointer;
}

#imgContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.description{
  display: flex;
  padding: 0px 20px;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#p1, #p2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkcyan;
  font-weight: bold;
}