:root{
  --bg-color: #fef6e4;
  --button-color: #f3d2c1;
  --text-color: #001858;
  --btn-text: #172c66;
  --title-color: #001858;
  --task-bg: #f582ae;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
  padding: 0px 20px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  color: var(--title-color);
}

header p:first-child{
  font-weight: bold;
}

header p:last-child{
  font-size: 50px;
  color: var(--text-color);
}

.card{
  width: 100%;
  max-width: 500px;
  padding: 5px;
  margin:0px auto 20px auto;
  background-color: var(--button-color);
  color: var(--btn-text);
  border-radius: 10px;
}

.card-profile--head p:first-child{
  font-size: 50px;
}

.card-profile--head p:last-child{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card-profile .card-profile--data{
  border-spacing: 5px;
  margin: 0 auto;
}

.card-profile--data th,td{
  padding: 10px;
  border: 3px dashed var(--text-color);
}

.card-profile--data td{
  text-align: center;
}

.users-elements{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.task{
  width: 90%;
  background-color: var(--task-bg);
  padding: 5px;
  border-radius: 10px;
}

.task tr:first-child th{
  text-align: left;
}

.task tr:nth-child(2) td{
  text-align: center;
  font-size: 18px;
}

.task tr:last-child td:last-child{
  font-size: 35px;
}

.task-done{
  color: greenyellow;
}

.task-undone{
  color: red;
}

.data-user{
  color: var(--task-bg);
  font-weight: bold;
}

.user-name{
  font-size: 30px;
}